{% if app.request.get('_route') != 'home' %}
    <div class="row">

        {% if app.session.get('userid') > 0  %}
            <a href="{{ url('customer_logout') }}">
                Logout
            </a>
        {% else %}
            <a href="{{ url('customer_login')}}">
                <i class="material-icons">person</i>
                Login/Signup
            </a>
        {% endif %}
    </div>
{% endif %}