{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <span class="text-danger">Are you sure to delete booking?</span>
        </div>
        <div class="row">
            {{ form_start(form) }}
            <button class="btn btn-danger" type="submit">Confirm</button> <a href="{{ url('booking_history') }}" class="btn btn-info">Cancel</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
